<a href="https://colab.research.google.com/github/abc314159/Introduction-to-Computer/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
a=range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [12]:
b=range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [15]:
c=range(3,8,1)
d=range(3,8,2)
e=range(8,3,-1)
print(list(c))
print(list(d))
print(list(e))

[3, 4, 5, 6, 7]
[3, 5, 7]
[8, 7, 6, 5, 4]

In [16]:
f=range(0,9,1)
g=range(1,10,1)
h=range(1,10,2)
i=range(10,1,-2)
print(list(f))
print(list(g))
print(list(h))
print(list(i))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [17]:
for n in range(3):
  print(n)

0
1
2

In [18]:
for n in range(10):
  print(n,end=',')

0,1,2,3,4,5,6,7,8,9,

In [19]:
for n in range(0,11,2):
  print(n,end=',')

0,2,4,6,8,10,

In [23]:
n=int(input('請輸入一個正整數:'))
for n in range(1,n+1):
  print(n,end=',')

請輸入一個正整數:10
1,2,3,4,5,6,7,8,9,10,

In [25]:
sum=0
for n in range(3):
  sum=sum+n
  print(sum)

0
1
3

In [28]:
sum=0
for n in range(10,1,-2):
   sum=sum+n
   print(sum)

10
18
24
28
30

In [35]:
sum=0
n=int(input('請輸入一個正整數:'))
for n in range(1,n+1):
  sum=sum+n
print('1'+'到'+str(n)+'的整數合為'+str(sum))

請輸入一個正整數:10
1到10的整數合為55

In [36]:
sum=0
n=int(input('請輸入一個正整數:'))
for n in range(1,n+1):
  sum=sum+n
  print('1'+'到'+str(n)+'的整數合為'+str(sum))

請輸入一個正整數:10
1到1的整數合為1
1到2的整數合為3
1到3的整數合為6
1到4的整數合為10
1到5的整數合為15
1到6的整數合為21
1到7的整數合為28
1到8的整數合為36
1到9的整數合為45
1到10的整數合為55