<a href="https://colab.research.google.com/github/abc314159/Introduction-to-Computer/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n=int(input('請輸入正整數:'))
for i in range(1,n+1):
  for j in range(i,n+1):
    print('*',end='')
  print()

請輸入正整數:7
*******
******
*****
****
***
**
*

In [2]:
sum=0
for i in range(1,101):
  if (i%3==0 or i%7==0):
    sum+=i
print('數值1~100中所有是3或7的倍數總和=',sum)

數值1~100中所有是3或7的倍數總和= 2208

In [3]:
p=1
c=0
n=int(input('請輸入正整數:'))
print(n,'的因數有',end='')
while (p<=n):
  if (n%p==0):
    print(p,end='')
    c+=1
  p+=1
print()
if (c==2):
  print(n,'是質數')
else:
  print(n,'不是質數')

請輸入正整數:4
4 的因數有124
4 不是質數

In [4]:
s = [85,79,93]
print('國文成績: %d分' % s[0])
print('數學成績: %d分' % s[1])
print('英文成績: %d分' % s[2])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [5]:
items=[123,'apple',True]
for item in items:
  print (item)

123
apple
True

In [6]:
scores = [85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [7]:
scores=['國文成績:85分','數學成績:79分','英文成績:93分']
for i in range(len(scores)):
  print(scores[i])

國文成績:85分
數學成績:79分
英文成績:93分

In [8]:
scores=['編號:1 姓名:Tom','編號:2 姓名:Mary','編號:3 姓名:Tony']
for i in range(len(scores)):
  print(scores[i])

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony